.layout {
    display: flex;
    flex-direction: row;
    min-width: 340px;
    min-height: 100vh;
}

.layout__main {
    flex-basis: 600px;
    margin: 0 auto;
    /* padding: 30px; */
    border-left: 1px solid #38444d;
    border-right: 1px solid #38444d;
}

.layout__aside {
    flex-grow: 1;
}

.layout__aside:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.layout__aside:last-child {
    padding-top: 15px;
    padding-left: 20px;
}
